* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: Arial, sans-serif;
}
:root {
  --background-light: #f8f9fa;
  --background-dark: #333;
  --text-light: #333;
  --text-dark: #f8f9fa;
  --button-bg-light: #ccc;
  --button-bg-dark: #555;
}

[data-theme='light'] {
  --background: var(--background-light);
  --foreground: var(--text-light);
  --button-bg: var(--button-bg-light);
}

[data-theme='dark'] {
  --background: var(--background-dark);
  --foreground: var(--text-dark);
  --button-bg: var(--button-bg-dark);
}
